div.tile {
  position: absolute !important;
  width: 60px;
  height: 60px;
  margin: 5px auto;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #888888;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  transition: bottom 0.1s linear;
}

div.tile > aside {
  text-align: center;
  padding: 16px;
}

div.ui-draggable-dragging {
  box-shadow: 10px 10px 5px #888888;
  z-index: 10;
}

div.tile.num1 {
  background: #f4ec46;
}

div.tile.num2 {
  background: #ed535f;
}

div.tile.num3 {
  background: #bded38;
}

div.tile.num4 {
  background: #2C8BFF;
}

div.tile.num5 {
  background: #DDA5FA;
}

div.tile.num6 {
  background: #37EA00;
}

div.tile.num7 {
  background: #FFD3BD;
}

div.tile.num8 {
  background: #9F00F2;
}

div.tile.num9 {
  background: #FFB500;
}

div.tile.num10 {
  background: #C0C0C0;
}

div.tile.num11 {
  background: #CEFA00;
}

div.tile.num12 {
  background: #FFFF00;
}

div.tile.num13 {
  background: #FF1B7C;
}

div.tile.num14 {
  background: #00D6EF;
}

/* find more colors for 15-20 */
div.tile.num15 {
  background: #bc6565
}

div.tile.num16 {
  background: #28a0ef;
}

div.tile.num17 {
  background: #20f720;
}

div.tile.num18 {
  background: #f257e2;
}

div.tile.num19 {
  background: #ff7f00;
}

div.tile.num20 {
  background: #e1ff00;
}

div.tile.row0 {
  bottom: 10px;
}

div.tile.row1 {
  bottom: 80px;
}

div.tile.row2 {
  bottom: 150px;
}

div.tile.row3 {
  bottom: 220px;
}

div.tile.row4 {
  bottom: 290px;
}

div.tile.row5 {
  bottom: 360px;
}

div.tile.row6 {
  bottom: 430px;
}

div.tile.row7 {
  bottom: 500px;
}

div.tile.col0 {
  left: 15px;
}

div.tile.col1 {
  left: 85px;
}

div.tile.col2 {
  left: 155px;
}

div.tile.col3 {
  left: 225px;
}

div.tile.col4 {
  left: 295px;
}

div.tile.col5 {
  left: 365px;
}

div.tile.col6 {
  left: 435px;
}
