div.tile.num1 {
  background: #FFFF99;
}

div.tile.num2 {
  background: #FF2424;
}

div.tile.num3 {
  background: #00F2AE;
}

div.tile.num4 {
  background: #2C8BFF;
}

div.tile.num5 {
  background: #DDA5FA;
}

div.tile.num6 {
  background: #37EA00;
}

div.tile.num7 {
  background: #FFD3BD;
}

div.tile.num8 {
  background: #9F00F2;
}

div.tile.num9 {
  background: #FFB500;
}

div.tile.num10 {
  background: #C0C0C0;
}

div.tile.num11 {
  background: #CEFA00;
}

div.tile.num12 {
  background: #FFFF00;
}

div.tile.num13 {
  background: #FF1B7C;
}

div.tile.num14 {
  background: #00D6EF;
}

/* find more colors for 15-20 */
div.tile.num15 {
  background: #00D6EF
}

div.tile.num16 {
  background: #00D6EF;
}

div.tile.num17 {
  background: #00D6EF;
}

div.tile.num18 {
  background: #00D6EF;
}

div.tile.num19 {
  background: #00D6EF;
}

div.tile.num20 {
  background: #00D6EF;
}
