html, body, header, main, details, section, nav, div, figure, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: inherit;
  color: inherit;
  user-select: none;
  list-style: none;
  line-height: inherit;
}

body {
  font-family: sans-serif;
  background: #fcc558;
}

header {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 44px;
}

main {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  padding: 20px;
}

.sidebar {
  width: 270px;
  height: 560px;
  border: 1px solid tan;
  border-radius: 10px;
  background: #f7f7f7;
  margin-top: 33px;
  padding: 10px;
}

.instruction-block p {
  line-height: 1.2;
  padding: 5px 0;
}

.about-block {
  padding-top: 5px;
}

.about-block p {
  line-height: 1.4;
  padding: 5px 0;
}

.about-me p {
  padding: 5px 0;
}

ul {
  display: flex;
  flex-wrap: wrap-reverse;
  border: 1px solid tan;
  border-radius: 10px;
  width: 500px;
  height: 560px;
  margin: 0 10px;
  padding: 10px;
}

ul.board {
  /*position: absolute;*/
  background: #f7f7f7;
}

/*ul.ghost-board {
  position: relative;
  background: transparent;
}*/

li {
  /*border: 1px solid black;*/
  border-radius: 10px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}

div.tile {
  border: 1px solid transparent;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin: 5px auto;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #888888;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
}

div.tile > aside {
  width: 10px;
  padding: 16px;
  margin: auto;
}

div.ui-draggable-dragging {
  box-shadow: 10px 10px 5px #888888;
  z-index: 10;
}

li.space.highlight {
  background: #E0E0E0;
}

div.timer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  width: 515px;
  height: 25px;
  background: #f7f7f7;
  padding: 3px;
  border: 1px solid tan;
  border-radius: 10px;
}

div.timer > section {
  width: 84px;
  height: 15px;
  background: orange;

  border: 1px solid black;
  border-radius: 10px;
}
