html, body, div, figure, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: inherit;
  color: inherit;
  user-select: none;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap-reverse;
  width: 700px;
  margin: auto;
  background: lightgray;
}

li.space {
  border: 1px solid black;
  width: 98px;
  height: 48px;
}

div.tile.selected {
  background: lightyellow;
}

div.tile {
  border: 1px solid red;
  border-radius: 3px;
  width: 90px;
  height: 45px;
  background: orange;
  color: black;
  cursor: pointer;
}

div.tile > aside {
  width: 10px;
  padding: 15px;
  margin: auto;
}
