html, body, header, main, details, section, nav, div, figure, ul, li, p, button, strong {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: inherit;
  color: inherit;
  user-select: none;
  list-style: none;
  line-height: inherit;
}

button:focus {
  outline: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  background-image: url("../assets/background.png");
}

header {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

header.title {
  color: white;
  text-shadow: -1px 0 #E6A168, 0 1px #E6A168, 1px 0 #E6A168, 0 -1px #E6A168;
}

a {
  font-size: 40px;
  background: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 10px;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 #E6A168, 0 1px #E6A168, 1px 0 #E6A168, 0 -1px #E6A168;
}

main {
  margin: auto;
  padding: 20px;
}

#venti-game {
  position: relative;
  margin: auto;
  height: 615px;
  width: 542px;
}

.modal {
  position: absolute;
  top: 34px;
  left: 11px;
  width: 500px;
  height: 560px;
  padding: 10px;
  background: rgba(252, 157, 40, 0.8);
  border-radius: 10px;
}

.game-over {
  padding-top: 150px;
  margin: auto;
  text-align: center;
  font-size: 50px;
  opacity: 1;
  color: white;
  text-shadow: -1px 0 #E6A168, 0 1px #E6A168, 1px 0 #E6A168, 0 -1px #E6A168;
}

.game-over p {
  margin-bottom: 20px;
}

.restart-btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-shadow: -1px 0 #E6A168, 0 1px #E6A168, 1px 0 #E6A168, 0 -1px #E6A168;
  font-size: 30px;
  cursor: pointer;
}

.how-to-btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background: rgb(227, 78, 81);
  color: white;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
}

.how-to {
  margin: auto;
  padding: 10px;
  text-align: center;
  background: #E56A6E;
  color: #000000;
}

.instruction-block p {
  padding: 20px 0;
  line-height: 1.2;
  font-size: 22px;
  font-weight: 100;
}

.instruction-block strong {
  font-size: 30px;
}

ul.board {
  display: flex;
  flex-wrap: wrap-reverse;
  border: 1px solid #E6A168;
  border-radius: 10px;
  width: 500px;
  height: 560px;
  margin: 0 10px;
  padding: 10px;
  background: #f7f7f7;
  position: relative;
}

ul.board.penalty {
  animation: shake 0.3s linear;
}

@-webkit-keyframes shake {
  0%  { transform: translate(5px); }
  20%  { transform: translate(-7px); }
  40%  { transform: translate(4px); }
  60%  { transform: translate(-5px); }
  80%  { transform: translate(4px); }
  100%  { transform: translate(-1px); }
}

@keyframes shake {
  0%  { transform: translate(5px); }
  20%  { transform: translate(-7px); }
  40%  { transform: translate(4px); }
  60%  { transform: translate(-5px); }
  80%  { transform: translate(4px); }
  100%  { transform: translate(-1px); }
}

li {
  border-radius: 10px;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}

li.space.highlight {
  background: #E0E0E0;
}

div.timer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  width: 514px;
  height: 25px;
  background: #f7f7f7;
  padding: 3px;
  border: 1px solid #E6A168;
  border-radius: 10px;
}

div.timer > section {
  width: 84px;
  height: 15px;
  background: orange;

  border: 1px solid black;
  border-radius: 10px;
}

a.github {
  background: #ed535f;
}

a.linkedin {
  background: #2C8BFF;
}

a.portfolio {
  background: #6961B0;
}
